@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lora", serif;
  text-align: center;
  background-color: #0E391E;
  background-image: url(../media/bg-landscape.svg);
  background-size: cover;
  background-repeat: no-repeat;
  color: aliceblue;
}

h1 {
  margin-top: 1%;
  font-size: 2.5em;
}

h3 {
  font-size: 1.7em;
}

h4 {
  font-size: 1.3em;
}

#blackjack {
  margin-top: 1%;
  width: 18%;
}

#cartas-casa img,
#cartas-jugador img {
  width: 6%;
  margin: 0.5%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5607843137), -5px -5px 10px rgba(0, 0, 0, 0);
}

#cartas-casa,
#cartas-jugador {
  height: 22vh;
}

#clickable {
  margin-bottom: 1%;
}
#clickable #pedir,
#clickable #parar,
#clickable #apostar {
  width: 7%;
  font-size: 1.3em;
  font-family: "Lora", serif;
  border-radius: 90% 90% 90% 90%/80% 80% 80% 80%;
  color: aliceblue;
  background: linear-gradient(170deg, rgba(21, 39, 23, 0.397) 0%, rgb(32, 32, 32) 100%);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5607843137), -5px -5px 10px rgba(0, 0, 0, 0);
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5607843137), -5px -5px 10px rgba(0, 0, 0, 0);
  -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5607843137), -5px -5px 10px rgba(0, 0, 0, 0);
  -o-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5607843137), -5px -5px 10px rgba(0, 0, 0, 0);
  margin-top: 5px;
}
#clickable #apostar {
  margin-top: 25.5%;
}

#volverAJugar {
  width: 7%;
  font-size: 1em;
  font-family: "Lora", serif;
  border-radius: 60% 60% 60% 60%/80% 80% 80% 80%;
  color: aliceblue;
  background: linear-gradient(170deg, rgba(21, 39, 23, 0.397) 0%, rgb(32, 32, 32) 100%);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5607843137), -5px -5px 10px rgba(0, 0, 0, 0);
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5607843137), -5px -5px 10px rgba(0, 0, 0, 0);
  -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5607843137), -5px -5px 10px rgba(0, 0, 0, 0);
  -o-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5607843137), -5px -5px 10px rgba(0, 0, 0, 0);
}

#pedir:hover,
#parar:hover,
#apostar:hover,
#volverAJugar:hover,
#reclamar:hover {
  filter: brightness(130%);
  transition: all 0.2s;
}

#pedir:active,
#parar:active,
#apostar:active,
#volverAJugar:active,
#reclamar:active {
  filter: brightness(120%);
  box-shadow: inset 5px 5px 12px rgba(0, 0, 0, 0.3960784314), inset -5px -5px 12px rgba(0, 0, 0, 0);
  -webkit-box-shadow: inset 5px 5px 12px rgba(0, 0, 0, 0.3960784314), inset -5px -5px 12px rgba(0, 0, 0, 0);
  -moz-box-shadow: inset 5px 5px 12px rgba(0, 0, 0, 0.3960784314), inset -5px -5px 12px rgba(0, 0, 0, 0);
  -o-box-shadow: inset 5px 5px 12px rgba(0, 0, 0, 0.3960784314), inset -5px -5px 12px rgba(0, 0, 0, 0);
  transition: all 0.5;
}

#slidercontainer {
  width: 100%;
  margin-top: 1%;
}

.slider {
  appearance: none;
  width: 10%;
  height: 0.8em;
  background: rgb(12, 65, 32);
  box-shadow: inset 5px 5px 12px rgba(0, 0, 0, 0.3960784314), inset -5px -5px 12px rgba(0, 0, 0, 0);
  -webkit-box-shadow: inset 5px 5px 12px rgba(0, 0, 0, 0.3960784314), inset -5px -5px 12px rgba(0, 0, 0, 0);
  -moz-box-shadow: inset 5px 5px 12px rgba(0, 0, 0, 0.3960784314), inset -5px -5px 12px rgba(0, 0, 0, 0);
  -o-box-shadow: inset 5px 5px 12px rgba(0, 0, 0, 0.3960784314), inset -5px -5px 12px rgba(0, 0, 0, 0);
  border-radius: 8%;
}
.slider::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  height: 1.2em;
  width: 1.2em;
  border-color: #000000;
  border-width: 2em;
  background: linear-gradient(170deg, rgb(23, 64, 36) 0%, rgb(37, 47, 41) 100%);
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5607843137), -2px -4px 8px rgba(0, 0, 0, 0);
  -webkit-box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5607843137), -2px -4px 8px rgba(0, 0, 0, 0);
  -moz-box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5607843137), -2px -4px 8px rgba(0, 0, 0, 0);
  -o-box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5607843137), -2px -4px 8px rgba(0, 0, 0, 0);
  border-radius: 50%;
}
.slider::-webkit-slider-thumb:hover, .slider::-webkit-slider-thumb:active {
  filter: brightness(110%);
  transition: all 0.2s;
}

#dinero {
  margin: 0.5%;
}

#cartel {
  width: 50%;
  font-size: 1.3em;
  position: absolute;
  left: 25%;
  top: 35%;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgb(26, 26, 26) 25%, rgb(26, 26, 26) 75%, rgba(0, 0, 0, 0) 100%);
  animation: disappear 0.5s;
  animation-fill-mode: forwards;
}

#cartel[data-show] {
  animation: appear 0.5s;
  animation-fill-mode: forwards;
}

@keyframes appear {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes disappear {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
#reglas-container,
#recompensa-container {
  width: 100%;
  height: 80%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#reglas {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.7411764706);
  width: 30em;
  height: 25em;
  padding: 2%;
  text-align: justify;
  border-radius: 2%;
}

#p1 {
  margin: 1rem auto;
}

#recompensa {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7411764706);
  width: 18em;
  padding: 1% 2%;
  text-align: justify;
  border-radius: 2%;
}

#recompensa p {
  margin: 0.7em auto;
}

#disponible {
  font-size: 0.9em;
}

.row1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#reclamar {
  height: 1.7em;
  font-size: 1.3em;
  font-family: "Lora", serif;
  border-radius: 90% 90% 90% 90%/80% 80% 80% 80%;
  color: aliceblue;
  background: linear-gradient(170deg, rgba(47, 99, 53, 0.507) 0%, rgb(32, 32, 32) 100%);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5607843137), -5px -5px 10px rgba(0, 0, 0, 0);
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5607843137), -5px -5px 10px rgba(0, 0, 0, 0);
  -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5607843137), -5px -5px 10px rgba(0, 0, 0, 0);
  -o-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5607843137), -5px -5px 10px rgba(0, 0, 0, 0);
}

.cerrar,
.boton {
  width: 1.5em;
  height: 1.5em;
  font-size: 1.3em;
  font-family: "Lora", serif;
  border-radius: 50%;
  color: #f0f8ff;
  background: linear-gradient(170deg, rgba(47, 99, 53, 0.507) 0%, rgb(32, 32, 32) 100%);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5607843137), -2px -2px 6px rgba(0, 0, 0, 0);
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5607843137), -2px -2px 6px rgba(0, 0, 0, 0);
  -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5607843137), -2px -2px 6px rgba(0, 0, 0, 0);
  -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5607843137), -2px -2px 6px rgba(0, 0, 0, 0);
}
.cerrar:hover,
.boton:hover {
  filter: brightness(130%);
  transition: all 0.2s;
}
.cerrar:active,
.boton:active {
  filter: brightness(120%);
  box-shadow: inset 5px 5px 12px rgba(0, 0, 0, 0.3960784314), inset -5px -5px 12px rgba(0, 0, 0, 0);
  -webkit-box-shadow: inset 5px 5px 12px rgba(0, 0, 0, 0.3960784314), inset -5px -5px 12px rgba(0, 0, 0, 0);
  -moz-box-shadow: inset 5px 5px 12px rgba(0, 0, 0, 0.3960784314), inset -5px -5px 12px rgba(0, 0, 0, 0);
  -o-box-shadow: inset 5px 5px 12px rgba(0, 0, 0, 0.3960784314), inset -5px -5px 12px rgba(0, 0, 0, 0);
  transition: all 0.5;
}

#menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 20px;
  left: 20px;
}

.boton {
  margin: 10%;
}

#abrirReglas {
  background-color: rgba(0, 0, 0, 0.2196078431);
  background-image: url(../media/question-mark.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 35%;
}

#musica {
  background-color: rgba(0, 0, 0, 0.2196078431);
  background-image: url(../media/music.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}

#nomusica {
  background-color: rgba(0, 0, 0, 0.2196078431);
  background-image: url(../media/music-crossed.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}

#abrirRecompensa {
  background-color: rgba(0, 0, 0, 0.2196078431);
  background-image: url(../media/money.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 35%;
}

#user {
  background-color: rgba(0, 0, 0, 0.2196078431);
  background-image: url(../media/user.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 55%;
}

#btnTienda {
  background-color: rgba(0, 0, 0, 0.2196078431);
  background-image: url(../media/bag.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 65%;
}

/* -------------------------------------------------------------------------- */
/*                                  tooltips                                  */
/* -------------------------------------------------------------------------- */
.tooltips {
  background: rgb(27, 26, 26);
  color: aliceblue;
  font-weight: bold;
  padding: 4px 8px;
  font-size: 13px;
  border-radius: 4px;
  display: none;
}

#tooltipRecompensa[data-show] {
  display: block;
  animation: bounce 1.5s;
  animation-iteration-count: infinite;
}

#tooltipRecompensa2[data-show] {
  display: block;
  animation: bounce2 1.5s;
  animation-iteration-count: infinite;
}

.arrow,
.arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: inherit;
}

.arrow {
  visibility: hidden;
}

.arrow::before {
  visibility: visible;
  content: "";
  transform: rotate(45deg);
  left: 0px;
}

.tooltips[data-popper-placement^=right] > #arrow {
  left: -4px;
}

@keyframes bounce {
  0% {
    transform: translate(42px, 35px);
  }
  50% {
    transform: translate(50px, 35px);
  }
  100% {
    transform: translate(42px, 35px);
  }
}
@keyframes bounce2 {
  0% {
    transform: translate(42px, 44px);
  }
  50% {
    transform: translate(50px, 44px);
  }
  100% {
    transform: translate(42px, 44px);
  }
}
#sidepanel {
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1921568627);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5607843137), -5px -5px 10px rgba(0, 0, 0, 0);
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5607843137), -5px -5px 10px rgba(0, 0, 0, 0);
  -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5607843137), -5px -5px 10px rgba(0, 0, 0, 0);
  -o-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5607843137), -5px -5px 10px rgba(0, 0, 0, 0);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
#sidepanel form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.input {
  appearance: none;
  height: 1em;
  background: rgb(12, 65, 32);
  box-shadow: inset 5px 5px 12px rgba(0, 0, 0, 0.3960784314), inset -5px -5px 12px rgba(0, 0, 0, 0);
  -webkit-box-shadow: inset 5px 5px 12px rgba(0, 0, 0, 0.3960784314), inset -5px -5px 12px rgba(0, 0, 0, 0);
  -moz-box-shadow: inset 5px 5px 12px rgba(0, 0, 0, 0.3960784314), inset -5px -5px 12px rgba(0, 0, 0, 0);
  -o-box-shadow: inset 5px 5px 12px rgba(0, 0, 0, 0.3960784314), inset -5px -5px 12px rgba(0, 0, 0, 0);
  color: aliceblue;
}
.input:focus {
  outline: none;
}

.submit {
  font-family: "Lora", serif;
  color: #f0f8ff;
  background: rgba(0, 0, 0, 0.2196078431);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5607843137), -2px -2px 6px rgba(0, 0, 0, 0);
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5607843137), -2px -2px 6px rgba(0, 0, 0, 0);
  -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5607843137), -2px -2px 6px rgba(0, 0, 0, 0);
  -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5607843137), -2px -2px 6px rgba(0, 0, 0, 0);
}
.submit:hover {
  filter: brightness(130%);
  transition: all 0.2s;
}
.submit:active {
  filter: brightness(120%);
  box-shadow: inset 5px 5px 12px rgba(0, 0, 0, 0.3960784314), inset -5px -5px 12px rgba(0, 0, 0, 0);
  -webkit-box-shadow: inset 5px 5px 12px rgba(0, 0, 0, 0.3960784314), inset -5px -5px 12px rgba(0, 0, 0, 0);
  -moz-box-shadow: inset 5px 5px 12px rgba(0, 0, 0, 0.3960784314), inset -5px -5px 12px rgba(0, 0, 0, 0);
  -o-box-shadow: inset 5px 5px 12px rgba(0, 0, 0, 0.3960784314), inset -5px -5px 12px rgba(0, 0, 0, 0);
  transition: all 0.5;
}

#logIn, #signUp {
  margin-top: 30%;
}

.cuenta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cuenta h2 {
  margin-bottom: 10%;
}
.cuenta p {
  font-size: 0.9em;
}

.input {
  width: 45%;
  margin-bottom: 5%;
}

.submit {
  width: 35%;
  margin-bottom: 5%;
}

#recordarme {
  font-size: 0.9em;
  margin-bottom: 5%;
}

#cerrarPanel {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}

#invalid, #wrong {
  font-size: 0.8em;
  margin: auto 13% 2%;
}

#stats {
  margin-top: 30%;
}

#estadisticas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#estadisticas h3 {
  margin-bottom: 10%;
  font-size: 2.5em;
}
#estadisticas p {
  margin-top: 2%;
  font-size: 1.25em;
}

#logOf {
  position: absolute;
  bottom: 2em;
}

/* -------------------------------------------------------------------------- */
/*                             Estilo del checkbox                            */
/* -------------------------------------------------------------------------- */
/* Base for label styling */
[type=checkbox]:not(:checked),
[type=checkbox]:checked {
  display: none;
}

[type=checkbox]:not(:checked) + label,
[type=checkbox]:checked + label {
  position: relative;
  padding-left: 32px;
  cursor: pointer;
}

/* checkbox aspect */
[type=checkbox]:not(:checked) + label:before,
[type=checkbox]:checked + label:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1em;
  height: 1em;
  border: 2px inset #747474;
  background: #0c4120;
  box-shadow: inset 5px 5px 12px rgba(0, 0, 0, 0.3960784314), inset -5px -5px 12px rgba(0, 0, 0, 0);
  -webkit-box-shadow: inset 5px 5px 12px rgba(0, 0, 0, 0.3960784314), inset -5px -5px 12px rgba(0, 0, 0, 0);
  -moz-box-shadow: inset 5px 5px 12px rgba(0, 0, 0, 0.3960784314), inset -5px -5px 12px rgba(0, 0, 0, 0);
  -o-box-shadow: inset 5px 5px 12px rgba(0, 0, 0, 0.3960784314), inset -5px -5px 12px rgba(0, 0, 0, 0);
}

/* checked mark aspect */
[type=checkbox]:not(:checked) + label:after,
[type=checkbox]:checked + label:after {
  content: "✓";
  position: absolute;
  top: 0px;
  left: 2px;
  font-size: 1.22em;
  line-height: 1;
  color: #f0f8ff;
}

/* checked mark aspect changes */
[type=checkbox]:not(:checked) + label:after {
  display: none;
}

[type=checkbox]:checked + label:after {
  display: block;
}

#tienda {
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.1921568627);
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.5607843137), 5px -5px 10px rgba(0, 0, 0, 0);
  -webkit-box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.5607843137), 5px -5px 10px rgba(0, 0, 0, 0);
  -moz-box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.5607843137), 5px -5px 10px rgba(0, 0, 0, 0);
  -o-box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.5607843137), 5px -5px 10px rgba(0, 0, 0, 0);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 1;
}
#tienda h2 {
  margin: 15% auto 10%;
}
#tienda h3 {
  font-size: 1.3em;
}
#tienda img {
  width: 75%;
}

.noStock {
  font-size: 1em;
  font-weight: bold;
  color: #d60000;
}

#cerrarTienda {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.226);
}

::-webkit-scrollbar-thumb {
  background: #0e331d;
  border-radius: 50% 50% 50% 50%/3% 3% 3% 3%;
}

.cantidad {
  appearance: none;
  height: 1em;
  width: 2em;
  margin: 5% 0 10%;
  background: rgb(12, 65, 32);
  box-shadow: inset 5px 5px 12px rgba(0, 0, 0, 0.3960784314), inset -5px -5px 12px rgba(0, 0, 0, 0);
  -webkit-box-shadow: inset 5px 5px 12px rgba(0, 0, 0, 0.3960784314), inset -5px -5px 12px rgba(0, 0, 0, 0);
  -moz-box-shadow: inset 5px 5px 12px rgba(0, 0, 0, 0.3960784314), inset -5px -5px 12px rgba(0, 0, 0, 0);
  -o-box-shadow: inset 5px 5px 12px rgba(0, 0, 0, 0.3960784314), inset -5px -5px 12px rgba(0, 0, 0, 0);
  color: aliceblue;
}
.cantidad:focus {
  outline: none;
}

.cantidad::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.btnCantidad {
  width: 1em;
  font-family: "Lora", serif;
  color: #f0f8ff;
  background: rgba(9, 90, 39, 0.4588235294);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5607843137), -2px -2px 6px rgba(0, 0, 0, 0);
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5607843137), -2px -2px 6px rgba(0, 0, 0, 0);
  -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5607843137), -2px -2px 6px rgba(0, 0, 0, 0);
  -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5607843137), -2px -2px 6px rgba(0, 0, 0, 0);
}
.btnCantidad:hover {
  filter: brightness(130%);
  transition: all 0.2s;
}
.btnCantidad:active {
  filter: brightness(120%);
  box-shadow: inset 5px 5px 12px rgba(0, 0, 0, 0.3960784314), inset -5px -5px 12px rgba(0, 0, 0, 0);
  -webkit-box-shadow: inset 5px 5px 12px rgba(0, 0, 0, 0.3960784314), inset -5px -5px 12px rgba(0, 0, 0, 0);
  -moz-box-shadow: inset 5px 5px 12px rgba(0, 0, 0, 0.3960784314), inset -5px -5px 12px rgba(0, 0, 0, 0);
  -o-box-shadow: inset 5px 5px 12px rgba(0, 0, 0, 0.3960784314), inset -5px -5px 12px rgba(0, 0, 0, 0);
  transition: all 0.5;
}

#carrito-container {
  height: 100%;
}

#carrito {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
#carrito li {
  display: grid;
  grid-template-areas: "img carritoNombre" "img carritoCantidad" "img carritoTotal" "border border";
  grid-template-columns: 5fr 6fr;
  height: 4em;
  margin: 5% 5% 15%;
}
#carrito li img {
  grid-area: img;
}
#carrito li .carritoNombre {
  grid-area: carritoNombre;
}
#carrito li .carritoCantidad {
  grid-area: carritoCantidad;
}
#carrito li .carritoSubtotal {
  grid-area: carritoTotal;
}
#carrito li p {
  text-align: center;
}

.border {
  grid-area: border;
  border-style: solid;
  border-color: #131313;
  border-width: 1px;
  margin: 1em 5%;
}

#btnsCarrito {
  width: 100%;
  margin: 1em auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#outOfService[data-show] {
  display: block;
}

/* -------------------------------------------------------------------------- */
/*                                  checkout                                  */
/* -------------------------------------------------------------------------- */
.checkout-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.hidden {
  display: none;
}

.checkout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 50%;
  border-radius: 1%;
  padding: 2%;
  background-color: #123d22;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5607843137), -5px -5px 10px rgba(0, 0, 0, 0);
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5607843137), -5px -5px 10px rgba(0, 0, 0, 0);
  -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5607843137), -5px -5px 10px rgba(0, 0, 0, 0);
  -o-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5607843137), -5px -5px 10px rgba(0, 0, 0, 0);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}
.checkout h2 {
  margin-bottom: 5%;
}
.checkout input {
  width: 100%;
}
.checkout input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

#form {
  display: grid;
  grid-template-areas: "numero numero vencimiento codigo" "nombre nombre ciudad zip" "apellido apellido direccion direccion" "pais pais telefono telefono" "btnsCheckout btnsCheckout btnsCheckout btnsCheckout";
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  text-align: start;
}
#form label {
  font-size: 0.8em;
  line-height: 1.5em;
  margin: 0 5%;
}

#form .numero {
  grid-area: numero;
}
#form .vencimiento {
  grid-area: vencimiento;
}
#form .codigo {
  grid-area: codigo;
}
#form .nombre {
  grid-area: nombre;
}
#form .apellido {
  grid-area: apellido;
}
#form .ciudad {
  grid-area: ciudad;
}
#form .direccion {
  grid-area: direccion;
}
#form .zip {
  grid-area: zip;
}
#form .pais {
  grid-area: pais;
}
#form .telefono {
  grid-area: telefono;
}
#form #btnsCheckout {
  grid-area: btnsCheckout;
}

#btnsCheckout {
  display: flex;
  justify-content: space-evenly;
}
#btnsCheckout .submit {
  margin: 3% 2%;
  width: 30%;
}

/* -------------------------------------------------------------------------- */
/*                                confirmacion                                */
/* -------------------------------------------------------------------------- */
.confirmacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: fit-content;
  border-radius: 1%;
  padding: 2%;
  background-color: #123d22;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5607843137), -5px -5px 10px rgba(0, 0, 0, 0);
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5607843137), -5px -5px 10px rgba(0, 0, 0, 0);
  -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5607843137), -5px -5px 10px rgba(0, 0, 0, 0);
  -o-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5607843137), -5px -5px 10px rgba(0, 0, 0, 0);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

#btnsConfirmacion {
  width: 100%;
}
#btnsConfirmacion button {
  margin: 3% 2%;
}

#cerrarConfirmacion {
  margin-top: 2em;
}

#cerrarConfirmacion, #msjConfirmacion {
  -webkit-animation-name: gracias;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-duration: 1.6s;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: gracias;
  -moz-animation-fill-mode: forwards;
  -moz-animation-duration: 1.6s;
  -moz-animation-timing-function: linear;
  animation-name: gracias;
  animation-fill-mode: forwards;
  animation-duration: 1.6s;
  animation-timing-function: linear;
}

@-webkit-keyframes gracias {
  0% {
    opacity: 0;
    height: 0;
  }
  80% {
    opacity: 0;
    height: 1.7em;
  }
  100% {
    opacity: 100%;
    height: 1.7em;
  }
}
@-moz-keyframes gracias {
  0% {
    opacity: 0;
    height: 0;
  }
  80% {
    opacity: 0;
    height: 1.7em;
  }
  100% {
    opacity: 100%;
    height: 1.7em;
  }
}
@keyframes gracias {
  0% {
    opacity: 0;
    height: 0;
  }
  80% {
    opacity: 0;
    height: 1.7em;
  }
  100% {
    opacity: 100%;
    height: 1.7em;
  }
}
/* -------------------------------------------------------------------------- */
/*                          animacion de confirmacion                         */
/* -------------------------------------------------------------------------- */
#checkmark-container {
  margin: 2em;
}

.success-checkmark {
  width: 88px;
  height: 88px;
  margin: 0 auto;
}
.success-checkmark .check-icon {
  width: 80px;
  height: 80px;
  position: relative;
  border-radius: 50%;
  box-sizing: content-box;
  border: 4px solid #0a7c36;
}
.success-checkmark .check-icon::before {
  top: 3px;
  left: -2px;
  width: 30px;
  transform-origin: 100% 50%;
  border-radius: 100px 0 0 100px;
}
.success-checkmark .check-icon::after {
  top: 0;
  left: 30px;
  width: 60px;
  transform-origin: 0 50%;
  border-radius: 0 100px 100px 0;
  animation: rotate-circle 4.25s ease-in;
}
.success-checkmark .check-icon .icon-line {
  height: 5px;
  background-color: #0a7c36;
  display: block;
  border-radius: 2px;
  position: absolute;
  z-index: 10;
}
.success-checkmark .check-icon .icon-line.line-tip {
  top: 46px;
  left: 14px;
  width: 25px;
  transform: rotate(45deg);
  animation: icon-line-tip 0.75s;
}
.success-checkmark .check-icon .icon-line.line-long {
  top: 38px;
  right: 8px;
  width: 47px;
  transform: rotate(-45deg);
  animation: icon-line-long 0.75s;
}
.success-checkmark .check-icon .icon-circle {
  top: -4px;
  left: -4px;
  z-index: 10;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  box-sizing: content-box;
  border: 4px solid #0a7c36;
}

@keyframes icon-line-tip {
  0% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  54% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  70% {
    width: 50px;
    left: -8px;
    top: 37px;
  }
  84% {
    width: 17px;
    left: 21px;
    top: 48px;
  }
  100% {
    width: 25px;
    left: 14px;
    top: 45px;
  }
}
@keyframes icon-line-long {
  0% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  65% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  84% {
    width: 55px;
    right: 0px;
    top: 35px;
  }
  100% {
    width: 47px;
    right: 8px;
    top: 38px;
  }
}
#html-spinner {
  width: 80px;
  height: 0;
  opacity: 0;
  border: 4px solid #0a7c36;
  border-top: 4px solid #6ec079;
  border-radius: 50%;
  -webkit-transition-property: -webkit-transform;
  -webkit-animation-duration: 1.6s;
  -webkit-animation-timing-function: linear;
  -moz-transition-property: -moz-transform;
  -moz-animation-duration: 1.6s;
  -moz-animation-timing-function: linear;
  transition-property: transform;
  animation-duration: 1.6s;
  animation-timing-function: linear;
}

.rotate {
  -webkit-animation-name: height, rotate;
  -webkit-animation-iteration-count: 1, infinite;
  -webkit-animation-delay: 0ms, 1.6s;
  -moz-animation-name: height, rotate;
  -moz-animation-iteration-count: 1, infinite;
  -moz-animation-delay: 0ms, 1.6s;
  animation-name: height, rotate;
  animation-iteration-count: 1, infinite;
  animation-delay: 0ms, 1.6s;
}

.color {
  -webkit-animation-name: color;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-name: color;
  -moz-animation-fill-mode: forwards;
  animation-name: color;
  animation-fill-mode: forwards;
  margin: 2em;
  opacity: 100%;
  height: 80px;
}

@-webkit-keyframes height {
  0% {
    opacity: 0;
    height: 0;
    margin: 0;
    transform: rotate(0deg);
  }
  80% {
    opacity: 0;
    height: 80px;
    margin: 2em;
  }
  100% {
    opacity: 100%;
    height: 80px;
    margin: 2em;
    transform: rotate(360deg);
  }
}
@-moz-keyframes height {
  0% {
    opacity: 0;
    height: 0;
    margin: 0;
    transform: rotate(0deg);
  }
  80% {
    opacity: 0;
    height: 80px;
    margin: 2em;
  }
  100% {
    opacity: 100%;
    height: 80px;
    margin: 2em;
    transform: rotate(360deg);
  }
}
@keyframes height {
  0% {
    opacity: 0;
    height: 0;
    margin: 0;
    transform: rotate(0deg);
  }
  80% {
    opacity: 0;
    height: 80px;
    margin: 2em;
  }
  100% {
    opacity: 100%;
    height: 80px;
    margin: 2em;
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg);
    opacity: 100%;
    height: 80px;
    margin: 2em;
  }
  100% {
    transform: rotate(360deg);
    opacity: 100%;
    height: 80px;
    margin: 2em;
  }
}
@-moz-keyframes rotate {
  0% {
    transform: rotate(0deg);
    opacity: 100%;
    height: 80px;
    margin: 2em;
  }
  100% {
    transform: rotate(360deg);
    opacity: 100%;
    height: 80px;
    margin: 2em;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
    opacity: 100%;
    height: 80px;
    margin: 2em;
  }
  100% {
    transform: rotate(360deg);
    opacity: 100%;
    height: 80px;
    margin: 2em;
  }
}
@-webkit-keyframes color {
  0% {
    opacity: 100%;
    transform: rotate(0deg);
    height: 80px;
  }
  70% {
    border-color: #0a7c36;
  }
  100% {
    opacity: 100%;
    transform: rotate(360deg);
    border-color: #0a7c36;
    height: 80px;
  }
}
@-moz-keyframes color {
  0% {
    opacity: 100%;
    transform: rotate(0deg);
    height: 80px;
  }
  70% {
    border-color: #0a7c36;
  }
  100% {
    opacity: 100%;
    transform: rotate(360deg);
    border-color: #0a7c36;
    height: 80px;
  }
}
@keyframes color {
  0% {
    opacity: 100%;
    transform: rotate(0deg);
    height: 80px;
  }
  70% {
    border-color: #0a7c36;
  }
  100% {
    opacity: 100%;
    transform: rotate(360deg);
    border-color: #0a7c36;
    height: 80px;
  }
}
.fail-cross {
  width: 88px;
  height: 88px;
  margin: 0 auto;
}
.fail-cross .check-icon {
  width: 80px;
  height: 80px;
  position: relative;
  border-radius: 50%;
  box-sizing: content-box;
  border: 4px solid #ee0808;
}
.fail-cross .check-icon .icon-line {
  height: 5px;
  background-color: #ee0808;
  display: block;
  border-radius: 2px;
  position: absolute;
  z-index: 10;
}
.fail-cross .check-icon .icon-line.line-tip {
  top: 38px;
  left: 17px;
  width: 47px;
  transform: rotate(45deg);
  animation: icon-line-one 0.75s;
}
.fail-cross .check-icon .icon-line.line-long {
  top: 38px;
  right: 17px;
  width: 47px;
  transform: rotate(-45deg);
  animation: icon-line-two 0.75s;
}
.fail-cross .check-icon .icon-circle {
  top: -4px;
  left: -4px;
  z-index: 10;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  box-sizing: content-box;
  border: 4px solid #ee0808;
}

@keyframes icon-line-one {
  0% {
    width: 0;
    left: 5px;
    top: 10px;
  }
  100% {
    top: 38px;
    left: 17px;
    width: 47px;
  }
}
@keyframes icon-line-two {
  0% {
    width: 0;
    right: 5px;
    top: 10px;
  }
  100% {
    top: 38px;
    right: 17px;
    width: 47px;
  }
}

/*# sourceMappingURL=style.css.map */
