body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-image: url(../media/table.jpg);
    background-size: cover;
}

#cartas-casa img {
    height: 175px;
    width: 125px;
    margin: 1px;
}

#cartas-jugador img {
    height: 175px;
    width: 125px;
    margin: 1px;
}

#hit {
    width: 100px;
    height: 50px;
    font-size: 20px;
}

#stay {
    width: 100px;
    height: 50px;
    font-size: 20px;
}