* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lora', serif;
    text-align: center;
    background-color: #0E391E;
    background-image: url(../media/bg-landscape.svg);
    background-size: cover;
    background-repeat: no-repeat;
    color: aliceblue;
}

h2 {
    cursor: default;
}
h3 {
    font-size: 1.7em;
    cursor: default;
}
h4 {
    font-size: 1.3em;
    cursor: default;
}
p {
    cursor: default;
}