#cartas-casa img,
#cartas-jugador img {
    width: 7%;
    margin: 0.5%;
    box-shadow: 5px 5px 10px #0000008f, -5px -5px 10px #00000000;
}

#cartas-casa, #cartas-jugador {
    height: 25vh;
}

#pedir,
#parar,
#apostar {
    width: 7%;
    font-size: 1.3em;
    font-family: 'Lora', serif;
    border-radius: 90% 90% 90% 90% / 80% 80% 80% 80%;
    color: aliceblue;
    background: linear-gradient(170deg, rgba(21, 39, 23, 0.397) 0%, rgba(32, 32, 32) 100%);
    box-shadow: 5px 5px 10px #0000008f, -5px -5px 10px #00000000;
    -webkit-box-shadow: 5px 5px 10px #0000008f, -5px -5px 10px #00000000;
    -moz-box-shadow: 5px 5px 10px #0000008f, -5px -5px 10px #00000000;
    -o-box-shadow: 5px 5px 10px #0000008f, -5px -5px 10px #00000000;
    margin-top: 5px;
}

#apostar {
    margin-top: 27.5%;
}

#volverAJugar {
    width: 7%;
    font-size: 1em;
    font-family: 'Lora', serif;
    border-radius: 60% 60% 60% 60% / 80% 80% 80% 80%;
    color: aliceblue;
    background: linear-gradient(170deg, rgba(21, 39, 23, 0.397) 0%, rgb(32, 32, 32) 100%);
    box-shadow: 5px 5px 10px #0000008f, -5px -5px 10px #00000000;
    -webkit-box-shadow: 5px 5px 10px #0000008f, -5px -5px 10px #00000000;
    -moz-box-shadow: 5px 5px 10px #0000008f, -5px -5px 10px #00000000;
    -o-box-shadow: 5px 5px 10px #0000008f, -5px -5px 10px #00000000;
}

#pedir:hover,
#parar:hover,
#apostar:hover,
#volverAJugar:hover,
#reclamar:hover {
    filter: brightness(130%);
    transition: all 0.2s;
}

#pedir:active,
#parar:active,
#apostar:active,
#volverAJugar:active,
#reclamar:active {
    filter: brightness(120%);
    box-shadow: inset 5px 5px 12px #00000065, inset -5px -5px 12px #00000000;
    -webkit-box-shadow: inset 5px 5px 12px #00000065, inset -5px -5px 12px #00000000;
    -moz-box-shadow: inset 5px 5px 12px #00000065, inset -5px -5px 12px #00000000;
    -o-box-shadow: inset 5px 5px 12px #00000065, inset -5px -5px 12px #00000000;
    transition: all 0.5;
}

#slidercontainer {
    width: 100%;
    margin-top: 1%;
}

.slider {
    appearance: none;
    width: 10%;
    height: .8em;
    background: rgb(12, 65, 32);
    box-shadow: inset 5px 5px 12px #00000065, inset -5px -5px 12px #00000000;
    -webkit-box-shadow: inset 5px 5px 12px #00000065, inset -5px -5px 12px #00000000;
    -moz-box-shadow: inset 5px 5px 12px #00000065, inset -5px -5px 12px #00000000;
    -o-box-shadow: inset 5px 5px 12px #00000065, inset -5px -5px 12px #00000000;
    border-radius: 8%;

    &::-webkit-slider-thumb {
        appearance: none;
        -webkit-appearance: none;
        height: 1.2em;
        width: 1.2em;
        border-color: #000000;
        border-width: 2em;
        background: linear-gradient(170deg, rgb(23, 64, 36) 0%, rgb(37, 47, 41) 100%);
        box-shadow: 2px 4px 8px #0000008f, -2px -4px 8px #00000000;
        -webkit-box-shadow: 2px 4px 8px #0000008f, -2px -4px 8px #00000000;
        -moz-box-shadow: 2px 4px 8px #0000008f, -2px -4px 8px #00000000;
        -o-box-shadow: 2px 4px 8px #0000008f, -2px -4px 8px #00000000;
        border-radius: 50%;

        &:hover,
        &:active {
            filter: brightness(110%);
            transition: all 0.2s;
        }
    }
}


#dinero {
    margin: 0.5%;
}

#resultado, #hagaApuesta {
    width: 50%;
    font-size: 1.3em;
    position: absolute;
    left: 25%;
    top: 25%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8407738095238095) 25%, rgba(0, 0, 0, 0.8407738095238095) 75%, rgba(0, 0, 0, 0) 100%);
    animation: disappear 0.5s;
    animation-fill-mode: forwards;
}

#resultado[data-show], #hagaApuesta[data-show] {
    animation: appear 0.5s;
    animation-fill-mode: forwards;
}

@keyframes appear {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes disappear {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}