#tienda {
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    overflow-y: scroll;
    background-color: #00000031;
    box-shadow: -5px 5px 10px #0000008f, 5px -5px 10px #00000000;
    -webkit-box-shadow: -5px 5px 10px #0000008f, 5px -5px 10px #00000000;
    -moz-box-shadow: -5px 5px 10px #0000008f, 5px -5px 10px #00000000;
    -o-box-shadow: -5px 5px 10px #0000008f, 5px -5px 10px #00000000;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    h2 {
        margin: 15% auto 10%;
    }
    h3 {
        font-size: 1.3em;
    }
    img {
        width: 75%;
    }
}

.noStock {
    font-size: 1em;
    font-weight: bold;
    color: #d60000;
}

#cerrarTienda {
    position: absolute;
    top: 0.5em;
    left: 0.5em;
}

//scrollbar

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.226)
}
::-webkit-scrollbar-thumb {
    background: #0e331d;
border-radius: 50% 50% 50% 50% / 3% 3% 3% 3%;;
}

//input

.cantidad {
    appearance: none;
    height: 1em;
    width: 2em;

    margin: 5% 0 10%;
    background: rgb(12, 65, 32);
    box-shadow: inset 5px 5px 12px #00000065, inset -5px -5px 12px #00000000;
    -webkit-box-shadow: inset 5px 5px 12px #00000065, inset -5px -5px 12px #00000000;
    -moz-box-shadow: inset 5px 5px 12px #00000065, inset -5px -5px 12px #00000000;
    -o-box-shadow: inset 5px 5px 12px #00000065, inset -5px -5px 12px #00000000;
    color: aliceblue;
    &:focus {
        outline: none;
    }
}

.cantidad::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.btnCantidad {
    width: 1em;
    font-family: 'Lora', serif;
    color: #f0f8ff;
    background: #095a2775;
    box-shadow: 2px 2px 6px #0000008f, -2px -2px 6px #00000000;
    -webkit-box-shadow: 2px 2px 6px #0000008f, -2px -2px 6px #00000000;
    -moz-box-shadow: 2px 2px 6px #0000008f, -2px -2px 6px #00000000;
    -o-box-shadow: 2px 2px 6px #0000008f, -2px -2px 6px #00000000;
    &:hover {
        filter: brightness(130%);
        transition: all 0.2s;
    }
    &:active {
        filter: brightness(120%);    
        box-shadow: inset 5px 5px 12px #00000065, inset -5px -5px 12px #00000000;
        -webkit-box-shadow: inset 5px 5px 12px #00000065, inset -5px -5px 12px #00000000;
        -moz-box-shadow: inset 5px 5px 12px #00000065, inset -5px -5px 12px #00000000;
        -o-box-shadow: inset 5px 5px 12px #00000065, inset -5px -5px 12px #00000000;
        transition: all 0.5;
    }
}

//Contenido del carrito
#carrito-container {
    height: 100%;
}
#carrito {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    li {
        display: grid;
        grid-template-areas:
        "img carritoNombre"
        "img carritoCantidad"
        "img carritoTotal"
        "border border";
        grid-template-columns: 5fr 6fr;
        height: 4em;
        margin: 5% 5% 15%;

        img {
            grid-area: img;
        }
        .carritoNombre {
            grid-area: carritoNombre;
        }
        .carritoCantidad {
            grid-area: carritoCantidad;
        }
        .carritoSubtotal {
            grid-area: carritoTotal;
        }
        p {
            text-align: center;
        }
    }
}

.border {
    grid-area: border;
    border-style: solid;
    border-color: #131313;
    border-width: 1px;
    margin: 1em 5%;
}

#btnsCarrito {
    width: 100%;
    margin: 1em auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#outOfService[data-show] {
    display: block;
}

/* -------------------------------------------------------------------------- */
/*                                  checkout                                  */
/* -------------------------------------------------------------------------- */

.checkout-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.hidden {
    display: none;
}
.checkout {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 50%;
    border-radius: 1%;
    padding: 2%;
    background-color: #123d22;
    box-shadow: 5px 5px 10px #0000008f, -5px -5px 10px #00000000;
    -webkit-box-shadow: 5px 5px 10px #0000008f, -5px -5px 10px #00000000;
    -moz-box-shadow: 5px 5px 10px #0000008f, -5px -5px 10px #00000000;
    -o-box-shadow: 5px 5px 10px #0000008f, -5px -5px 10px #00000000;
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );

    h2 {
        margin-bottom: 5%;
    }

    input {
        width: 100%;
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
    }
}

#form {
    display: grid;
    grid-template-areas:
    "numero numero vencimiento codigo"
    "nombre nombre ciudad zip"
    "apellido apellido direccion direccion"
    "pais pais telefono telefono"
    "btnsCheckout btnsCheckout btnsCheckout btnsCheckout";
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    text-align: start;
    label {
        font-size: 0.8em;
        line-height: 1.5em;
        margin: 0 5%;
    }
}
//grid areas
#form {
.numero {
    grid-area: numero;
}
.vencimiento {
    grid-area: vencimiento;
}
.codigo {
    grid-area: codigo;
}
.nombre {
    grid-area: nombre;
}
.apellido {
    grid-area: apellido;
}
.ciudad {
    grid-area: ciudad;
}
.direccion {
    grid-area: direccion;
}
.zip {
    grid-area: zip;
}
.pais {
    grid-area: pais;
}
.telefono {
    grid-area: telefono;
}
#btnsCheckout {
    grid-area: btnsCheckout;
}
}

#btnsCheckout {
    display: flex;
    justify-content: space-evenly;
    .submit {
        margin: 3% 2%;
        width: 30%;
    }
}


/* -------------------------------------------------------------------------- */
/*                                confirmacion                                */
/* -------------------------------------------------------------------------- */

.confirmacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: fit-content;
    border-radius: 1%;
    padding: 2%;
    background-color: #123d22;
    box-shadow: 5px 5px 10px #0000008f, -5px -5px 10px #00000000;
    -webkit-box-shadow: 5px 5px 10px #0000008f, -5px -5px 10px #00000000;
    -moz-box-shadow: 5px 5px 10px #0000008f, -5px -5px 10px #00000000;
    -o-box-shadow: 5px 5px 10px #0000008f, -5px -5px 10px #00000000;
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
}

#btnsConfirmacion {
    width: 100%;

    button {
        margin: 3% 2%;
    }
}

#cerrarConfirmacion {
    margin-top: 2em;
}

#cerrarConfirmacion, #msjConfirmacion {
    -webkit-animation-name: gracias;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-duration: 1.6s;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: gracias;
    -moz-animation-fill-mode: forwards;
    -moz-animation-duration: 1.6s;
    -moz-animation-timing-function: linear;
    animation-name: gracias;
    animation-fill-mode: forwards;
    animation-duration: 1.6s;
    animation-timing-function: linear;
}

@-webkit-keyframes gracias{
    0% {
        opacity: 0;
        height: 0;
    }
    80% {
        opacity: 0;
        height: 1.7em;
    }
    100% {
        opacity: 100%;
        height: 1.7em;
    }
}
@-moz-keyframes gracias{
    0% {
        opacity: 0;
        height: 0;
    }
    80% {
        opacity: 0;
        height: 1.7em;
    }
    100% {
        opacity: 100%;
        height: 1.7em;
    }
}
@keyframes gracias{
    0% {
        opacity: 0;
        height: 0;
    }
    80% {
        opacity: 0;
        height: 1.7em;
    }
    100% {
        opacity: 100%;
        height: 1.7em;
    }
}

/* -------------------------------------------------------------------------- */
/*                          animacion de confirmacion                         */
/* -------------------------------------------------------------------------- */

//checkmark
#checkmark-container {
    margin: 2em;
}

.success-checkmark {
    width: 88px;
    height: 88px;
    margin: 0 auto;

    .check-icon {
        width: 80px;
        height: 80px;
        position: relative;
        border-radius: 50%;
        box-sizing: content-box;
        border: 4px solid #0a7c36;

        &::before {
            top: 3px;
            left: -2px;
            width: 30px;
            transform-origin: 100% 50%;
            border-radius: 100px 0 0 100px;
        }

        &::after {
            top: 0;
            left: 30px;
            width: 60px;
            transform-origin: 0 50%;
            border-radius: 0 100px 100px 0;
            animation: rotate-circle 4.25s ease-in;
        }

        .icon-line {
            height: 5px;
            background-color: #0a7c36;
            display: block;
            border-radius: 2px;
            position: absolute;
            z-index: 10;

            &.line-tip {
                top: 46px;
                left: 14px;
                width: 25px;
                transform: rotate(45deg);
                animation: icon-line-tip 0.75s;
            }

            &.line-long {
                top: 38px;
                right: 8px;
                width: 47px;
                transform: rotate(-45deg);
                animation: icon-line-long 0.75s;
            }
        }

        .icon-circle {
            top: -4px;
            left: -4px;
            z-index: 10;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            position: absolute;
            box-sizing: content-box;
            border: 4px solid #0a7c36;
        }
    }
}

@keyframes icon-line-tip {
    0% {
        width: 0;
        left: 1px;
        top: 19px;
    }

    54% {
        width: 0;
        left: 1px;
        top: 19px;
    }

    70% {
        width: 50px;
        left: -8px;
        top: 37px;
    }

    84% {
        width: 17px;
        left: 21px;
        top: 48px;
    }

    100% {
        width: 25px;
        left: 14px;
        top: 45px;
    }
}

@keyframes icon-line-long {
    0% {
        width: 0;
        right: 46px;
        top: 54px;
    }

    65% {
        width: 0;
        right: 46px;
        top: 54px;
    }

    84% {
        width: 55px;
        right: 0px;
        top: 35px;
    }

    100% {
        width: 47px;
        right: 8px;
        top: 38px;
    }
}

//spinner

#html-spinner {
    width: 80px;
    height: 0;
    opacity: 0;
    border: 4px solid #0a7c36;
    border-top: 4px solid #6ec079;
    border-radius: 50%;

    -webkit-transition-property: -webkit-transform;
    -webkit-animation-duration: 1.6s;
    -webkit-animation-timing-function: linear;
    -moz-transition-property: -moz-transform;
    -moz-animation-duration: 1.6s;
    -moz-animation-timing-function: linear;
    transition-property: transform;
    animation-duration: 1.6s;
    animation-timing-function: linear;
}

.rotate {
    -webkit-animation-name: height, rotate;
    -webkit-animation-iteration-count: 1, infinite;
    -webkit-animation-delay: 0ms, 1.6s;
    -moz-animation-name: height, rotate;
    -moz-animation-iteration-count: 1, infinite;
    -moz-animation-delay: 0ms, 1.6s;
    animation-name: height, rotate;
    animation-iteration-count: 1, infinite;
    animation-delay: 0ms, 1.6s;
}

.color {
    -webkit-animation-name: color;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: color;
    -moz-animation-fill-mode: forwards;
    animation-name: color;
    animation-fill-mode: forwards;
    margin: 2em;
    opacity: 100%;
    height: 80px;
}

@-webkit-keyframes height {
    0% {
        opacity: 0;
        height: 0;
        margin: 0;
        transform: rotate(0deg);
    }
    80% {
        opacity: 0;
        height: 80px;
        margin: 2em;
    }
    100% {
        opacity: 100%;
        height: 80px;
        margin: 2em;
        transform: rotate(360deg);
    }
}

@-moz-keyframes height {
    0% {
        opacity: 0;
        height: 0;
        margin: 0;
        transform: rotate(0deg);
    }
    80% {
        opacity: 0;
        height: 80px;
        margin: 2em;
    }
    100% {
        opacity: 100%;
        height: 80px;
        margin: 2em;
        transform: rotate(360deg);
    }
}

@keyframes height {
    0% {
        opacity: 0;
        height: 0;
        margin: 0;
        transform: rotate(0deg);
    }
    80% {
        opacity: 0;
        height: 80px;
        margin: 2em;
    }
    100% {
        opacity: 100%;
        height: 80px;
        margin: 2em;
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rotate {
    0% {
        transform: rotate(0deg);
        opacity: 100%;
        height: 80px;
        margin: 2em;
    }
    100% {
        transform: rotate(360deg);
        opacity: 100%;
        height: 80px;
        margin: 2em;
    }
}

@-moz-keyframes rotate {
    0% {
        transform: rotate(0deg);
        opacity: 100%;
        height: 80px;
        margin: 2em;
    }
    100% {
        transform: rotate(360deg);
        opacity: 100%;
        height: 80px;
        margin: 2em;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
        opacity: 100%;
        height: 80px;
        margin: 2em;
    }
    100% {
        transform: rotate(360deg);
        opacity: 100%;
        height: 80px;
        margin: 2em;
    }
}

@-webkit-keyframes color {
    0% {
        opacity: 100%;
        transform: rotate(0deg);
        height: 80px;
    }
    70% {
        border-color: #0a7c36;
    }
    100% {
        opacity: 100%;
        transform: rotate(360deg);
        border-color: #0a7c36;
        height: 80px;
    }
}

@-moz-keyframes color {
    0% {
        opacity: 100%;
        transform: rotate(0deg);
        height: 80px;
    }
    70% {
        border-color: #0a7c36;
    }
    100% {
        opacity: 100%;
        transform: rotate(360deg);
        border-color: #0a7c36;
        height: 80px;
    }
}

@keyframes color {
    0% {
        opacity: 100%;
        transform: rotate(0deg);
        height: 80px;
    }
    70% {
        border-color: #0a7c36;
    }
    100% {
        opacity: 100%;
        transform: rotate(360deg);
        border-color: #0a7c36;
        height: 80px;
    }
}

//fail-cross

.fail-cross {
    width: 88px;
    height: 88px;
    margin: 0 auto;

    .check-icon {
        width: 80px;
        height: 80px;
        position: relative;
        border-radius: 50%;
        box-sizing: content-box;
        border: 4px solid #ee0808;

        .icon-line {
            height: 5px;
            background-color: #ee0808;
            display: block;
            border-radius: 2px;
            position: absolute;
            z-index: 10;

            &.line-tip {
                top: 38px;
                left: 17px;
                width: 47px;
                transform: rotate(45deg);
                animation: icon-line-one 0.75s;
            }

            &.line-long {
                top: 38px;
                right: 17px;
                width: 47px;
                transform: rotate(-45deg);
                animation: icon-line-two 0.75s;
            }
        }

        .icon-circle {
            top: -4px;
            left: -4px;
            z-index: 10;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            position: absolute;
            box-sizing: content-box;
            border: 4px solid #ee0808;
        }
    }
}

@keyframes icon-line-one {
    0% {
        width: 0;
        left: 5px;
        top: 10px;
    }

    100% {
        top: 38px;
        left: 17px;
        width: 47px;
    }
}

@keyframes icon-line-two {
    0% {
        width: 0;
        right: 5px;
        top: 10px;
    }

    100% {
        top: 38px;
        right: 17px;
        width: 47px;
    }
}